    <!-- template for navbar -->

    <nav class="navbar navbar-inverse navbar-static-top" id="navNoMargin">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/IWsmall.png" style="max-height:40px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="btn" href="./graphics" data-toggle="tooltip" title="Graphics"><i class="fa fa-paint-brush fa-2x" style="color:#CECECE" aria-hidden="true"></i></a></li>
            <li><a class="btn" href="/audio" data-toggle="tooltip" title="Audio"><i class="fa fa-headphones fa-2x" style="color:#CECECE" aria-hidden="true"></i></a></li>
            <li><a href="/systems" data-toggle="tooltip" title="Systems"><i class="fa fa-code-fork fa-2x" style="color:#CECECE" aria-hidden="true"></i></a></li>
            <li><a href="/about" data-toggle="tooltip" title="About"><i class="fa fa-info-circle fa-2x" style="color:#CECECE" aria-hidden="true"></i></a></li>
            <li><a href="/about"><i class="fa fa-envelope fa-2x" style="color:#CECECE" aria-hidden="true"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>  
