<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/head.ejs %>
    <title><%= title %></title>
  </head>

  
  <body>

    <%- include ./partials/navbar.ejs %>

    <h1>Music and Sound Effects</h1> 

    <div class="row"> <!-- I think the first and last divs will need to somehow span down all the rows -->
      <div class="col-lg-2">
        <p>Place to filter through products goes here.</p>
      </div>
      <div class="col-lg-8">	
        <table class="product-display">
          <col width="15%">
          <col width="70%">
          <col width="15%">
          <tr>
            <td>
              <img src="http://placehold.it/75x75">
            </td>
            <td>
      	      <p>This will be the product description. <i class="icon-camera-retro icon-4x"></i></p>
            </td>
            <td>
      	      <p>$9.99</p>
            </td>
          </tr>

          <tr>
            <td>
              <img src="http://placehold.it/75x75">
            </td>
            <td>
      	      <p>This will be the product description.</p>
            </td>
            <td>
      	      <p>$9.99</p>
            </td>
          </tr>

          <tr>
            <td>
              <img src="http://placehold.it/75x75">
            </td>
            <td>
      	      <p>This will be the product description.</p>
            </td>
            <td>
      	      <p>$9.99</p>
            </td>
          </tr>

          <tr>
            <td>
              <img src="http://placehold.it/75x75">
            </td>
            <td>
      	      <p>This will be the product description.</p>
            </td>
            <td>
      	      <p>$9.99</p>
            </td>
          </tr>

          <tr>
            <td>
              <img src="http://placehold.it/75x75">
            </td>
            <td>
      	      <p>This will be the product description.</p>
            </td>
            <td>
      	      <p>$9.99</p>
            </td>
          </tr>




        </table>
      </div>
      <div class="col-lg-2">
      </div>
    </div>

    <%- include ./partials/foot.ejs %>
  </body>
</html>
